<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <input class="form-control" #num1 type="number" value="{{init.num1}}">
    </div>
    <div class="col-sm-1 text-center">
      +
    </div>
    <div class="col-sm-4">
      <input class="form-control" #num2 type="number" value="{{init.num2}}" (input)="'ignore'">
    </div>
    <div class="col-sm-1 text-center">
      =
    </div>
    <div class="col-sm-2">
      {{num1.valueAsNumber + num2.valueAsNumber}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <input class="form-control" ref-number1 type="number"
        value="{{init.num1}}" (input)="init.num1 = $event.target.value">
    </div>
    <div class="col-sm-1 text-center">
      +
    </div>
    <div class="col-sm-4">
      <input class="form-control" ref-number2 type="number"
        value="{{init.num2}}" (input)="init.num2 = number2.value">
    </div>
    <div class="col-sm-1 text-center">
      =
    </div>
    <div class="col-sm-2">
      {{number1.valueAsNumber + number2.valueAsNumber}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      init: {{init | json}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <input class="form-control" type="number" [(ngModel)]="data.num1">
    </div>
    <div class="col-sm-1 text-center">
      +
    </div>
    <div class="col-sm-4">
      <input class="form-control" type="number" [(ngModel)]="data.num2">
    </div>
    <div class="col-sm-1 text-center">
      =
    </div>
    <div class="col-sm-2">
      {{data.result}}
    </div>
  </div>

  <div class="row">
    <div class="col">
      data: {{data | json}}
    </div>
  </div>
</div>
