<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3">
        <h5 class="footer-title pt2">Find us</h5>
        <p class="pb20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
        <p><i class="fa fa-phone"></i> +91-9999878398 </p>
        <p><i class="fa fa fa-envelope"></i> info@example.com </p>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <h5 class="footer-title pt2">Quick links</h5>
        <ul class="footer_ul_amrc">
          <li><a href="#">Image Rectoucing</a></li>
          <li><a href="#">Clipping Path</a></li>
          <li><a href="#">Hollow Man Montage</a></li>
          <li><a href="#">Ebay & Amazon</a></li>
          <li><a href="#">Hair Masking/Clipping</a></li>
          <li><a href="#">Image Cropping</a></li>
        </ul>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <h5 class="footer-title pt2">Quick links</h5>
        <ul class="footer_ul_amrc">
          <li><a href="#">Remove Background</a></li>
          <li><a href="#">Shadows & Mirror Reflection</a></li>
          <li><a href="#">Logo Design</a></li>
          <li><a href="#">Vectorization</a></li>
          <li><a href="#">Hair Masking/Clipping</a></li>
          <li><a href="#">Image Cropping</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
        <h5 class="footer-title pt2">Follow us</h5>
        <ul class="footer-link">
          <li><a href="#"><i class="fa fa-twitter padding-right"></i> https://www.lipsum.com/</a>
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </li>
          <li><a href="#"><i class="fa fa-twitter padding-right"></i> https://www.lipsum.com/</a>
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </li>
          <li><a href="#"><i class="fa fa-twitter padding-right"></i> https://www.lipsum.com/</a>
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container my-3">
    <p class="text-center">Copyright @2018 / Designed With by <a href="#">Your Company</a></p>
  </div>

  <div class="container">
    <div class="footer-social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
