<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="etc">Etc</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
  </ul>

  <div class="container">
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
