.post {
  margin-top: 8em;
}

.post h1 {
  color: #F97300;
}

.card-title {
  color: #F97300;
}

.card-img img {
  width: 100%;
}

.card-img {
  overflow: hidden;
}

.zoom img {
  transition: 0.3s ease;
}

.zoom:hover img {
  transform: scale(1.1);
  transition: 0.3s ease;
}
