<form action="write" method="post">
  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
  <input type="text" name="product" value="{{product}}">
  <button type="submit">Send</button>
</form>
