<section class="info-section">
  <div class="container">

    <div class="head-box text-center mb-5">
      <h2>Who We Are</h2>
      <h6 class="text-underline-primary">This is information panel</h6>
    </div>

    <div class="three-panel-block mt-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center mb-5 p-lg-3">
            <i class="fa fa-laptop box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>Responsive Design</h3>
            <p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center mb-5 p-lg-3">
            <i class="fa fa-calendar box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>Integrated Calendar</h3>
            <p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center mb-5 p-lg-3">
            <i class="fa fa-bug box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>Bug Free Solutions</h3>
            <p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center p-lg-3">
            <i class="fa fa-cloud-upload box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>Cloud Storage</h3>
            <p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center p-lg-3">
            <i class="fa fa-diamond box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>Premium Features</h3>
            <p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center p-lg-3">
            <i class="fa fa-comments box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <h3>24/7 Support</h3>
            <p class="px-4">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Info block 1 -->
<section class="info-section bg-primary py-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-6 content-half mt-md-0 pl-5 pt-4">
        <div class="head-box mb-5 pl-5 mt-2">
          <h2 class="text-white">Our Story</h2>
          <h6 class="text-white text-underline-rb-white">This is information panel</h6>
        </div>
        <ul class="pl-5">
          <li>
            <i class="fa fa-laptop box-round-outline" aria-hidden="true"></i>
            <span class="list-content">
              <strong>Responsive Design</strong>
              <br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </li>
          <li>
            <i class="fa fa-cloud-upload box-round-outline" aria-hidden="true"></i>
            <span class="list-content">
              <strong>Cloud Storage</strong>
              <br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </li>
          <li>
            <i class="fa fa-diamond box-round-outline" aria-hidden="true"></i>
            <span class="list-content">
              <strong>Premium Features</strong>
              <br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-6 p-0 m-0">
        <img src="https://grafreez.com/wp-content/temp_demos/suffi/img/intro-bg.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</section>
