<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Angular Wave</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home">One : Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="about">One : About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="parent">Two : Parent</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="panel">Three : Panel</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container outlet">
  <router-outlet></router-outlet>
</div>

<div class="container">
  <div class="logger">
    <button type="button" (click)="clear()">Clear</button>
    <p *ngFor="let log of data">{{log.date | date:'yyyy.MM.dd HH:mm:ss'}} <em>{{log.tag}}</em> {{log.message}}</p>
  </div>
</div>
