<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" routerLink="/">Angular School</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Binding
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="bind/interpolation">Interpolation</a>
          <a class="dropdown-item" [routerLink]="['bind', 'property']">Property</a>
          <a class="dropdown-item" [routerLink]="['/bind', 'event']">Event</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="'bind/twoway'">Two-way</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Directive
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="directive/ng-class">ngClass</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="directive/ng-if">ngIf</a>
          <a class="dropdown-item" routerLink="directive/ng-for">ngFor</a>
          <a class="dropdown-item" routerLink="directive/ng-switch">ngSwitch</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="directive/ref">ref</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="directive/custom">Custom</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Service
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="service/data-holder">Data Holder</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pipe
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="pipe/built-in">Built-in</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="pipe/built-in" fragment="custom">Custom Pipe</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" target="_blank"><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="#" target="_blank"><i class="fa fa-medium"></i></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>
