<header id="home">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background:url('/assets/images/headerback.jpg')">
        <div class="carousel-caption">
          <h1>Hello ,Welcome To My official Website</h1>
          <p>
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <button class="btn btn-outline-secondary">See more</button>
        </div>
      </div>
      <div class="carousel-item" style="background:url('/assets/images/headerback2.jpg')">
        <div class="carousel-caption">
          <h1>Hello ,Welcome To My official Website</h1>
          <p>
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <button class="btn btn-outline-secondary">See more</button>
        </div>
      </div>
      <div class="carousel-item" style="background:url('/assets/images/headerback3.jpg')">
        <div class="carousel-caption">
          <h1>Hello ,Welcome To My official Website</h1>
          <p>
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <button class="btn btn-outline-secondary">See more</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</header>
