.carousel-caption {
  position: absolute;
  top: 40%;
  margin: auto;
  padding: 2em;
  text-align: left;
}

.carousel-caption h1 {
  font-size: 4rem;
  color: #F97300;
}

.carousel-caption p {
  color: #666;
  font-size: 1.5rem;
  width: 50%;
  line-height: 1.5;
}

.carousel-caption button {
  border: 1px solid #F97300;
  background: #F97300;
  color: #fff;
}

.carousel-caption button:hover {
  background: #fff;
  color: #F97300;
}

.carousel-item {
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
}

@media (max-width: 575.98px) {
  .carousel-caption {
    position: absolute;
    top: 40%;
    margin: auto;
    padding: 1em;
    text-align: left;
  }
  .carousel-caption h1 {
    font-size: 2rem;
    color: #F97300;
  }
  .carousel-caption p {
    color: #666;
    font-size: 1.2rem;
    width: 80%;
    line-height: 1;
  }
}
