.blog {
  margin: 4em 0;
  position: relative;
}

.blog h1 {
  color: #F97300;
  margin: 2em;
}

.blog .card {
  box-shadow: 0 0 20px #ccc;
}

.blog .card img {
  width: 100%;
  height: 12em;
}

.blog .card-title {
  color: #F97300;
}

.blog .card-body {
  padding: 1em;
}
