<div class="blog" id="blog">
  <div class="container">
    <h1 class="text-center">Blog</h1>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="assets/images/posts/polit.jpg" class="img-fluid">
          </div>
          <div class="card-body">
            <h4 class="card-title">Post Title</h4>
            <p class="card-text">
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="card-footer">
            <a href="" class="card-link">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="assets/images/posts/images.jpg" class="img-fluid">
          </div>
          <div class="card-body">
            <h4 class="card-title">Post Title</h4>
            <p class="card-text">
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="card-footer">
            <a href="" class="card-link">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="assets/images/posts/imag2.jpg" class="img-fluid">
          </div>
          <div class="card-body">
            <h4 class="card-title">Post Title</h4>
            <p class="card-text">
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="card-footer">
            <a href="" class="card-link">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
