:host {
  display: block;
  overflow: hidden;
  /* Hide everything that doesn't fit compoennt */
}

.parent {
  height: 100%;
  width: 200%;
  /* Make the parent element to take up twice of the component's width */
  display: flex;
  /* Align all children in a row */
}

.parent div {
  flex: 1;
  /* Let all the flexible items be the same length, regardless of its content */
}
