.about {
  margin-top: 8em;
}

.about h1 {
  color: #F97300;
}

i.box-circle-solid {
  background-color: #35CBDF;
  color: #fff;
  border-radius: 50%;
  padding: 0.3em;
  font-size: 2rem;
}

.service-block-overlay {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}

.service-block-overlay:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
  margin-top: -4px;
}
