<section class="about" id="about">
  <div class="container">
    <h1 class="text-center mb-4">About</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="text-center service-block-overlay">
          <i class="fa fa-laptop my-3 box-circle-solid"></i>
          <h3>Responsive Design</h3>
          <p class="text-left px-4 pb-2">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="text-center service-block-overlay">
          <i class="fa fa-laptop my-3 box-circle-solid"></i>
          <h3>Responsive Design</h3>
          <p class="text-left px-4 pb-2">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="text-center service-block-overlay">
          <i class="fa fa-laptop my-3 box-circle-solid"></i>
          <h3>Responsive Design</h3>
          <p class="text-left px-4 pb-2">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="text-center service-block-overlay">
          <i class="fa fa-laptop my-3 box-circle-solid"></i>
          <h3>Responsive Design</h3>
          <p class="text-left px-4 pb-2">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="text-center service-block-overlay">
          <i class="fa fa-laptop my-3 box-circle-solid"></i>
          <h3>Responsive Design</h3>
          <p class="text-left px-4 pb-2">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="text-center service-block-overlay">
          <i class="fa fa-laptop my-3 box-circle-solid"></i>
          <h3>Responsive Design</h3>
          <p class="text-left px-4 pb-2">Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
        </div>
      </div>
    </div>
  </div>
</section>
