<section class="demo" id="team">
  <div class="container">
    <h1 class="text-center mb-4">Our Team</h1>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="our-team">
          <div class="team_img">
            <img src="/assets/images/team-2.jpg">
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Williamson</h3>
            <span class="post">web developer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="our-team">
          <div class="team_img">
            <img src="/assets/images/team-3.jpg">
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">kristina</h3>
            <span class="post">Web Designer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
