@media (max-width: 768px) {
  .team .item img {
    width: 100%;
  }
}

.team {
  margin: 4em 0;
  position: relative;
}

.team h1 {
  color: #F97300;
  margin: 2em;
}

.team .item {
  position: relative;
  overflow: hidden;
}

.team .des {
  background: #F97300;
  color: #fff;
  text-align: center;
  border-top-right-radius: 93%;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 88%;
  bottom: 24px;
}

.team .item:hover .des {
  height: 100%;
  background: #f973007d;
  position: absolute;
  width: 89%;
  padding: 5em;
  top: 0;
  border-top-right-radius: 0;
}
