<div class="jumbotron bg-white">
  <h1 class="display-3">What is Angular?</h1>
  <p class="lead">
    Angular is a platform that makes it easy to build applications with the web.
  </p>
  <hr class="my-3">
  <p>
    Angular combines declarative templates, dependency injection, end to end tooling
    and integrated best practices to solve development challenges.
    Angular empowers developers to build applications that live on the web, mobile, or the desktop
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="#" role="button">Not Found</a>
  </p>
</div>
