.table {
  td.right {
    text-align: right;
  }

  td {
    button.crush {
      border: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

// .table td.right {
//   text-align: right;
// }
//
// .table td button.crush {
//   border: 0;
//   padding-top: 0;
//   padding-bottom: 0;
// }
