<div class="portfolio" id="portfolio">
  <div class="container">
    <h1 class="text-center">Portfolio</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/1.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/2.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/3.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/4.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/5.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/6.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/7.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/8.jpg" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="assets/images/portfolio/9.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>
