.portfolio {
  margin-top: 8em;
}

.portfolio h1 {
  color: #F97300;
}

.portfolio img {
  width: 100%;
}

.zoom {
  transition: 0.3s ease;
}

.zoom:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
