<!-- <p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="New" icon="pi pi-plus"></button>
    <button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>

    <i class="pi pi-bars"></i>

    <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-warning"></p-splitButton>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="pi pi-search"></button>
    <button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>
    <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
  </div>
</p-toolbar> -->

<p-menubar [model]="items">
  <div>
    <input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>
  </div>
</p-menubar>
