<div class="contact-form" id="contact">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h1>Get in Touch</h1>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 right">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
          </div>
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
          </div>
          <div class="form-group">
            <textarea class="form-control form-control-lg"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-secondary float-right">
            <i class="fa fa-paper-plane fa-fw" aria-hidden="true"></i> Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
