.contact-form {
  margin-top: 8em;
}

.contact-form h1 {
  color: #F97300;
}

.contact-form .btn-secondary {
  background: #F97300;
  color: #fff;
  border: 0;
}

.contact-form .form-control::placeholder {
  color: #888;
  font-size: 16px;
}

.contact-form button:hover {
  background: #fff;
  color: #F97300;
}

.contact-form button {
  border: 1px solid #F97300;
  background: #F97300;
  color: #fff;
}
